@font-face {
    font-family: 'icomoon';
    src: url("/fonts/icomoon/icomoon.eot?srf3rx");
    src: url("/fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gototop.active {
    opacity: 1;
    visibility: visible;
}

.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.gototop a:hover, .gototop a:active, .gototop a:focus {
    text-decoration: none;
    outline: none;
}

#gtco-hero {
    min-height: 700px;
    background: #fff url(/images/emotion/loader.gif) no-repeat center center;
}

#gtco-hero .btn {
    font-size: 24px;
}

#gtco-hero .btn.btn-primary {
    padding: 14px 30px !important;
}

#gtco-hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0;
}

#gtco-hero .flexslider .slides {
    position: relative;
    overflow: hidden;
}

#gtco-hero .flexslider .slides li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 700px;
    position: relative;
}

#gtco-hero .flexslider .slides li .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

#gtco-hero .flexslider .flex-control-nav {
    bottom: 40px;
    z-index: 1000;
}

#gtco-hero .flexslider .flex-control-nav li a {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

#gtco-hero .flexslider .flex-control-nav li a.flex-active {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
}

#gtco-hero .flexslider .flex-direction-nav {
    display: block;
}

#gtco-hero .flexslider .flex-direction-nav a {
    position: absolute;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

#gtco-hero .flexslider .flex-direction-nav a:before {
    left: 0;
    top: 0;
    color: #fff !important;
    text-shadow: none !important;
    font-size: 40px;
    position: relative;
    z-index: 10;
}

#gtco-hero .flexslider .flex-direction-nav a.flex-prev {
    opacity: 1 !important;
    left: 1px !important;
}

#gtco-hero .flexslider .flex-direction-nav a.flex-prev:before {
    text-indent: 0px !important;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e929";
}

#gtco-hero .flexslider .flex-direction-nav a.flex-next {
    right: 1px !important;
    opacity: 1 !important;
}

#gtco-hero .flexslider .flex-direction-nav a.flex-next:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    right: 0;
    content: "\e92a";
}

#gtco-hero .flexslider .slider-text {
    display: table;
    opacity: 0;
    min-height: 700px;
}

#gtco-hero .flexslider .slider-text > .slider-text-inner {
    display: table-cell;
    vertical-align: middle;
    min-height: 700px;
}

#gtco-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 60px;
    font-weight: 300;
    color: #fff;
}

#gtco-hero .flexslider .slider-text > .slider-text-inner p {
    color: #fff;
}

@media screen and (max-width: 768px) {
    #gtco-hero .flexslider .slider-text > .slider-text-inner h2 {
        font-size: 40px;
    }
}

#gtco-hero .flexslider .slider-text > .slider-text-inner .gtco-lead {
    font-size: 20px;
    color: #fff;
}

#gtco-hero .flexslider .slider-text > .slider-text-inner .gtco-lead .icon-heart {
    color: #d9534f;
}
