.movie-lines-font {
    font-weight: 170;
}

.movie-type-div {
    width: 100%;
    margin-left: 15px;
    margin-bottom: 27px;
}

.movie-type-button {
    display: inline;
    margin-right: 10px;
}

.movie-type-a {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color: #b7c2c2;
}

.movie-type-a-sel {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color: #252525;
}

a:link {
    text-decoration: none; /* 指正常的未被访问过的链接*/

}

a:visited {
    text-decoration: none; /*指已经访问过的链接*/

}

a:hover {
    text-decoration: none; /*指鼠标在链接*/
}

a:active {
    text-decoration: none; /* 指正在点的链接*/

}

.movie-list-div {
    display: inline-block;
    width: 100%;
    margin-right: 15px;
    margin-bottom: 27px;
    margin-top: 27px;
}

.movie-page-button {
    display: inline;
    float: right;
    margin-right: 15px;
}

.movie-page-a {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #b7c2c2;
}

.book-box {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    animation-name: fadeInUp;
    animation-fill-mode: both;
    box-sizing: border-box;
    display: block;
}

.book-inner-box {
    display: flex;
    margin-bottom: 30px;
}

.book-list-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    transition: 0.3s;
    width: 50%;
    display: inline-block;
}

.book-list-info-div {
    padding: 1.7em;
    background: #fafafa;
    width: 50%;
    display: inline-block;
    word-wrap: break-word;
}

.book-list-line-font {
    font-weight: 170;
}

.book-list-img {
    width: 100%;
}

.book-list-word {
    left: 50%;
    top: 50%
}

.book-list-auth {
    font-size: 12px;
    font-weight: 300;
}

.book-list-lines {
    font-size: 10px;
    font-weight: 170;
}

.book-list-height {
    min-height: 350px;
    position: relative;
}

.movie-list-height {
    min-height: 165px;
}

.book-list-douban {
    position: absolute;
    bottom: 7%;
    float: left;
}

.movie-col-lg {
    width: 30%;
    float: right;
    margin-right: 30px;
}

.movie-form-control {
    margin-top: -4px;
    height: 30px;
    float: right;
    margin-right: 0px;
    border: 0px;
    width: 60%;
    outline: none;
}

.movie-downloadLink {
    color: #2aabd2;
}

.movie-no-downloadLink {
    color: #6B6B6B;
    font-weight: 7;
}

.movie-search-a {
    color: #b7c2c2;
    float: right;
    font-size: 17px;
}

.movie-not-found {
    text-align: center;
    font-weight: 200;
    margin-top: 100px;
    margin-bottom: 70px;
}

.movie-TC-title {
    text-align: left;
    font-weight: 70;
    color: #f27474;
    margin-bottom: 10px;
}

.movie-TC-resource {
    text-align: left;
    font-weight: 50;
    color: #f27474;
}

.movie-TC-url {
    color: #2aabd2;
}

.movie-img {
    cursor: inherit !important;
}

.no-play-word-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 200;
    color: white;
}

.no-play-container {
    position: relative;
}

.no-play-img {
    background: #000;
    opacity: 1;
}

.book-reading-font {
    margin-top: 100px;
    margin-bottom: 10px;
}

.book-reading-font > h2 {
    font-weight: 200;
    color: white;
    font-size: 45px;
}

.book-reading-font > p {
    color: white;
}

.intro-header {
    background: no-repeat center center;
    background-color: #808080;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 0px;
}

.movie-title {
    margin-top: 100px;
}

.movie-title > h2 {
    font-weight: 300;
}

.author-section-title {
    margin-top: 100px;
}

.swal-kido {
    border-radius: 0px !important;
}

.pipi-main {
    padding-top: 100px;
}

.pipi-list-ul {
    padding-inline-start: 0px;
}

.pipi-list-section {
    padding: 0px 0px 0px 0px;
}

.wish-service-head {
    margin-top: 57px;
    margin-bottom: 30px;
}

.wish-service-head h2 {
    font-weight: 300;
    font-size: 45px;
    text-transform: uppercase;
}

.wish-service-head p {
    font-size: 17px;
    font-weight: 300;
    line-height: 33px;
    margin: 25px 100px 30px 100px;
}

.swiper-container {
    width: 300px;
    height: 300px;
    position: absolute;
    /*left: 50%;*/
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-container-img {
    padding: 1em 0em 1em 2em !important;
}

.swiper-container-text-left {
    padding: 1em 2em 1em 4em !important;
}

.swiper-container-text-right {
    padding: 1em 2em 1em 1em !important;
}

.container-book-img {
    padding: 1em 4em 1em 4em !important;

}

.container-book-list-img {
    max-height: 300px;
    max-width: 227px;
    margin-left: 24px;
}

.container-book-text {
    padding: 1em 2em 1em 2em !important;
}

.book-grid {
    margin: 2em 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wish-grid {
    margin: 2em 0;
}

a.read-check {
    padding: 0.5em 1.5em;
    font-size: 1em;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -o-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    background: black;
    color: #fff;
}

a.read-uncheck {
    padding: 0.5em 1.5em;
    font-size: 1em;
    border: 2px solid #646464;
    text-decoration: none;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -o-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    background: #646464;
    color: #fff;
}

.internal-link {
    color: #8f93ff !important;
}